Personal_and_Financial/
Pictures/
Screenshots/
Other_Unmatched/
Desktop/
*.exe
*.pdf
*.jpg
*.png
*.bin
*.bat

.env
*.env*
desktop.ini

.849C*
CIA DOCS/
Documents/
Job Applications/

Developer_and_Code_Assets/conversations.json
